.about {
    margin-top: 30px;
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about p {
    color: rgb(209, 168, 57);
    
    @media only screen and (max-width: 450px) {
        width: 70%;
        font-size: 14px;
      }
}